<mat-card>
  <form #registerForm="ngForm" (ngSubmit)="register()">
    <h2 class="text-center text-primary">Sign Up</h2>
    <mat-form-field>
      <input matInput type="text" placeholder="Username" required name="username"
      [(ngModel)]="model.username">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" required name="password"
      [(ngModel)]="model.password">
    </mat-form-field>
    <button mat-raised-button color = "primary" [disabled]="!registerForm.valid">Register</button>
  </form>
</mat-card>
